.modal-dialog h1{font-size:4rem}
.modal-dialog h2{font-size:2rem;margin:0;}
.modal-header h1{font-size:14px;}
.modal-header h2{
    font-size:28px;
    margin:10px;   
    text-align: center;
    }
.profile-img
    {
        width: 230px;
        height: 230px;
        margin: 0 auto;
        display: block;
        box-shadow: 0 0 10px #000;
        border-radius: 10px 10px;       
        border: 5px outset #428bca;      
    }
.modal-content{
    border:1px;
    color: #000000;

    }
.modal-header h5{
    padding:2px;
    float: none;
    margin: auto;
   text-align: center;
   border-bottom: none;
}
.modal-header {
    padding-top:20px;
    float: none;
    margin: auto;
   text-align: center;
   border-bottom: none;
}
.modal-body{
    padding:10px;
    border-bottom: none;

}
.modal-body .form-control {
    width:80%;
    float: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size:12px;
    }
.modal-footer{
    padding:10px;
    border-top: none;
    margin-top: 0;
    text-align: center;
    font-size:14px;
}

.modal-footer p{
    border-top: none;
    margin-top: 0;
    text-align: center;
    font-size: 11px;
}
.modal-footer a.list-group-item.active {
   margin-top: 10px; 
   margin-bottom: 10px;
}
.modal-footer .btn{
   margin-top: 10px; 
   margin-bottom: 10px;
}
.modal-footer {
   width:80%;
   float: none;
    margin-left: auto;
    margin-right: auto;
}
.modal-dialog{
    width:350px;

}

.cartel{
    width:500px;    
}