{% load static from staticfiles %}


<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="es">
<head>
<link rel="stylesheet" href="{% static 'css/boletas.css' %}" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{titulo}}</title>
<style type="text/css">
  @page {
    margin: 0.5cm;
    padding: 0;
  }
</style>
</head>
<body>
<table width="100%" height="971" border="0" cellspacing="0">
  
   <tr>
    <td width="20%" height="93" align="center"><img src="{% static 'munis/' %}{{dirMuni}}/logo_boleta.png" alt="InfoMunicipio"
		  width="62" height="62" /></td>
    <td width="65%" align="center" >
        <p><span class="comuna_nombre">{{sitio.nombre}}</span><br />
  <span class="comuna_datos">{{sitio.direccion}}<br />
        {{sitio.varios1}}</span></p>
    </td>
    <td width="15%" align="right"  class="destino_cuerpo">
      <table width="100" border="0" cellspacing="0">
        <tr>
          <td align="center" class="titulos">Nro. Cuota</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{cuota.id_cuota}}</td>
        </tr>
        <tr>
          <td align="center" class="titulos">Fecha Impresión</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{fecha|date:"d/m/Y"}}</td>
        </tr>
      </table>
    </td>
  </tr> 
  <tr></tr>
  <tr>
    <td height="20" colspan="3" class="comuna_nombre" align="center">{{titulo}}</td>
  </tr> 
  <tr>
    <td height="49" colspan="3" align="left" >
    <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="15%" class="titulos">Padrón</td>
          <td colspan="5" class="titulos">Razon Social</td>
          <td class="titulos">Tributo</td>
          <td class="titulos">Cód. Seguridad</td>          
          <td class="titulos">{% if codLINK %}Pago Electrónico {% endif %}</td>
        </tr>
        <tr>
          <td class="datos">{{cuota.padron}}</td>
          <td colspan="5" class="datos">{{cuota.id_responsable.nombre_boleta}}</td>
          <td class="datos">{{cuota.tributo.abreviatura}}</td>
          <td class="datos">{{codseg}}</td>
          <td class="datos">{{codLINK}}</td>
        </tr>
        <tr>
          <td class="titulos">Año</td>
          <td width="20%" class="titulos">Período</td>
          <td width="30%" class="titulos">Importe Mínimo</td>
          <td width="25%" class="titulos">Vencim. Orig.</td>
          <td width="25%" class="titulos">Importe Orig.</td>
          <td class="titulos">Fecha Liquidación</td>
          <td colspan="1" class="titulos">Subtotal</td>
          <td width="30%" class="titulos">Vencim. Boleta</td>
          <td colspan="1" class="titulos_i">Importe a Pagar</td>
        </tr>
        <tr class="datos">
          <td class="datos">{{cuota.anio}}</td>
          <td class="datos">{{cuota.cuota}}</td>
          <td class="datos">${{minimo_principal}}</td>
          <td class="datos">{{cuota.vencimiento|date:"d/m/Y"}}</td>
          <td class="datos">${{totOriginal}}</td>
          <td class="datos">{{boleta.fechapago|date:"d/m/Y"}}</td>          
          <td class="datos">${{subtotal}}</td>
          <td class="datos">{{vencimiento|date:"d/m/Y"}}</td>          
          <td class="datos_i">${{punit1}}</td>
        </tr>
      </table>
      </td>
  </tr>
  <tr height="49" >
    <td height="49" colspan="3" >
   <table width="100%">
    <tr>
      <td width="80%">
      <table width="100%" border="0" cellspacing="0">
        <tr>          
          <td width="55%" class="titulos">Detalle Actividad</td>
          <td width="15%" class="titulos">Base</td>
          <td width="15%" class="titulos">Alícuota <small>{{sitio.alicuota_unidad}}</small></td>
          <td width="15%" class="titulos">Importe</td>
        </tr>
        {% for item in actividades %}
        <tr class="datos_actividad" >
          <td><strong><small>{{item.verDetalleActiv}}</small></strong></td>
          <td>${{item.base}}</td>
          <td>{{item.alicuota|floatformat:2}}</td>
          <td>${{item.impuesto}}</td>
        </tr>
        {% endfor %}
      </table>
      </td>
      
      <td  width="20%" >
        <table width="100%" border="0" cellspacing="0" >
          <tr>
          </tr>
          {% if boleta.pago_anterior %}
          <tr>
            <td class="tabla_izq" colspan="2" >Importe Abonado</td>
            <td class="tabla_der importe_">- ${{boleta.pago_anterior}}</td>
          </tr>
          {% endif %}
          <tr>
            <td class="tabla_izq" colspan="2">Derecho Neto</td>
            <td class="tabla_der importe_">${{boleta.derecho_neto}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2">Tasa Salud Pública</td>
            <td class="tabla_der importe_">${{boleta.tasa_salud_publ}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2">{{boleta.adic_detalle}}</td>
            <td class="tabla_der importe_">${{boleta.adic_monto}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2">Retenciones</td>
            <td class="tabla_der importe_">${{boleta.retenciones}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2" >Recargo</td>
            <td class="tabla_der importe_">${{boleta.recargo}}</td>
          </tr>
          <tr>
            <td class="tabla_izq titulos" colspan="2">Tot.Adic.+ Recargo </td>
            <td class="tabla_der importe_subt titulos">${{tot_adicionales}}</td>
          </tr>
          
        </table>
      </td>
    </tr>
   </table> 
   </td>
  </tr>           
  <tr>
    <td height="20" colspan="3" align="center"  >
      <img src="data:image/png;base64,{{codbar}}" class="CB" >      
    </td>
  </tr>
  <tr>
    <td height="30" colspan="3" align="center" valign="middle">{{codigo}}
      <hr> 
      <br>     
    </td>
  </tr>   
   
  <tr>
    <td width="20%" height="93" align="center"><img src="{% static 'munis/' %}{{dirMuni}}/logo_boleta.png" alt="InfoMunicipio"
      width="62" height="62" /></td>
    <td width="65%" align="center" >
        <p><span class="comuna_nombre">{{sitio.nombre}}</span><br />
        <span class="comuna_datos">{{sitio.direccion}}<br />
        {{sitio.varios1}}</span></p>
    </td>
    <td width="15%" align="right"  class="destino_cuerpo">
      <table width="100" border="0" cellspacing="0">        
        <tr>
          <td align="center" class="titulos">Nro. Cuota</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{cuota.id_cuota}}</td>
        </tr>
        <tr>
          <td align="center" class="titulos">Fecha Impresión</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{fecha|date:"d/m/Y"}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr></tr>
  <tr>
    <td height="20" colspan="3" class="comuna_nombre" align="center">{{titulo}}</td>
  </tr>   
  <tr>
    <td height="49" colspan="3" align="left" >
    <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="15%" class="titulos">Padrón</td>
          <td colspan="5" class="titulos">Razon Social</td>
          <td class="titulos">Tributo</td>
          <td class="titulos">Cód. Seguridad</td>
          <td class="titulos">{% if codLINK %}Pago Electrónico {% endif %}</td>
        </tr>
        <tr>
          <td class="datos">{{cuota.padron}}</td>
          <td colspan="5" class="datos">{{cuota.id_responsable.nombre_boleta}}</td>
          <td class="datos">{{cuota.tributo.abreviatura}}</td>
          <td class="datos">{{codseg}}</td>
          <td class="datos">{{codLINK}}</td>
        </tr>
       <tr>
          <td class="titulos">Año</td>
          <td width="20%" class="titulos">Período</td>
          <td width="30%" class="titulos">Importe Mínimo</td>
          <td width="25%" class="titulos">Vencim. Orig.</td>
          <td width="25%" class="titulos">Importe Orig.</td>
          <td class="titulos">Fecha Liquidación</td>
          <td colspan="1" class="titulos">Subtotal</td>
          <td width="30%" class="titulos">Vencim. Boleta</td>
          <td colspan="1" class="titulos_i">Importe a Pagar</td>
        </tr>
        <tr class="datos">
          <td class="datos">{{cuota.anio}}</td>
          <td class="datos">{{cuota.cuota}}</td>
          <td class="datos">${{minimo_principal}}</td>
          <td class="datos">{{cuota.vencimiento|date:"d/m/Y"}}</td>
          <td class="datos">${{totOriginal}}</td>
          <td class="datos">{{boleta.fechapago|date:"d/m/Y"}}</td>          
          <td class="datos">${{subtotal}}</td>
          <td class="datos">{{vencimiento|date:"d/m/Y"}}</td>          
          <td class="datos_i">${{punit1}}</td>
        </tr>
      </table>
      </td>
  </tr>
  <tr height="49" >
  <td height="49" colspan="3" >
   <table width="100%">
    <tr>
      <td height="49" width="80%">
      <table width="100%" border="0" cellspacing="0">
        <tr>          
          <td width="55%" class="titulos">Detalle Actividad</td>
          <td width="15%" class="titulos">Base</td>
          <td width="15%" class="titulos">Alícuota <small>{{sitio.alicuota_unidad}}</small></td>
          <td width="15%" class="titulos">Importe</td>
        </tr>
        {% for item in actividades %}
        <tr class="datos_actividad" >
          <td><strong><small>{{item.verDetalleActiv}}</small></strong></td>
          <td>${{item.base}}</td>
          <td>{{item.alicuota|floatformat:2}}</td>
          <td>${{item.impuesto}}</td>
        </tr>
        {% endfor %}
      </table>
      </td>
      
      <td  width="20%" >
        <table width="100%" border="0" cellspacing="0" >
          <tr>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2">Derecho Neto</td>
            <td class="tabla_der importe_">${{boleta.derecho_neto}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2">Tasa Salud Pública</td>
            <td class="tabla_der importe_">${{boleta.tasa_salud_publ}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2">{{boleta.adic_detalle}}</td>
            <td class="tabla_der importe_">${{boleta.adic_monto}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2">Retenciones</td>
            <td class="tabla_der importe_">${{boleta.retenciones}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2" >Recargo</td>
            <td class="tabla_der importe_">${{boleta.recargo}}</td>
          </tr>
          <tr>
            <td class="tabla_izq titulos" colspan="2">Tot.Adic.+ Recargo </td>
            <td class="tabla_der importe_subt titulos">${{tot_adicionales}}</td>
          </tr>
        </table>
      </td>
    </tr>
   </table> 
   </td>
  </tr>           
  <tr>
    <td height="20" colspan="3" align="center">
      <img src="data:image/png;base64,{{codbar}}" class="CB">      
    </td>
  </tr>
  <tr>
    <td height="30" colspan="3" align="center" valign="middle" >     
      {{codigo}}     
      
      <hr>
      <br>
      </td>
  </tr>   

<tr>
    <td width="20%" height="93" align="center"><img src="{% static 'munis/' %}{{dirMuni}}/logo_boleta.png" alt="InfoMunicipio"
      width="62" height="62" /></td>
    <td width="65%" align="center" >
        <p><span class="comuna_nombre">{{sitio.nombre}}</span><br />
    <span class="comuna_datos">{{sitio.direccion}}<br />
        {{sitio.varios1}}</span></p>
    </td>
    <td width="15%" align="right"  class="destino_cuerpo">
      <table width="100" border="0" cellspacing="0">
        <tr>
          <td align="center" class="titulos">Nro. Cuota</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{cuota.id_cuota}}</td>
        </tr>
        <tr>
          <td align="center" class="titulos">Fecha Impresión</td>
        </tr>
        <tr>
          <td class="datos" align="center">{{fecha|date:"d/m/Y"}}</td>
        </tr>        
      </table>
    </td>
  </tr>
  <tr></tr>
  <tr>
    <td height="20" colspan="3" class="comuna_nombre" align="center">{{titulo}}</td>
  </tr> 
  <tr>
    <td height="49" colspan="3" align="left" >
    <table width="100%" border="0" cellspacing="0">
        <tr>
          <td width="15%" class="titulos">Padrón</td>
          <td colspan="5" class="titulos">Razon Social</td>
          <td class="titulos">Tributo</td>
          <td class="titulos">Cód. Seguridad</td>
          <td class="titulos">{% if codLINK %}Pago Electrónico {% endif %}</td>
        </tr>
        <tr>
          <td class="datos">{{cuota.padron}}</td>
          <td colspan="5" class="datos">{{cuota.id_responsable.nombre_boleta}}</td>
          <td class="datos">{{cuota.tributo.abreviatura}}</td>
          <td class="datos">{{codseg}}</td>
          <td class="datos">{{codLINK}}</td>
        </tr>
        <tr>
          <td class="titulos">Año</td>
          <td width="20%" class="titulos">Período</td>
          <td width="30%" class="titulos">Importe Mínimo</td>
          <td width="25%" class="titulos">Vencim. Orig.</td>
          <td width="25%" class="titulos">Importe Orig.</td>
          <td class="titulos">Fecha Liquidación</td>
          <td colspan="1" class="titulos">Subtotal</td>
          <td width="30%" class="titulos">Vencim. Boleta</td>
          <td colspan="1" class="titulos_i">Importe a Pagar</td>
        </tr>
        <tr class="datos">
          <td class="datos">{{cuota.anio}}</td>
          <td class="datos">{{cuota.cuota}}</td>
          <td class="datos">${{minimo_principal}}</td>
          <td class="datos">{{cuota.vencimiento|date:"d/m/Y"}}</td>
          <td class="datos">${{totOriginal}}</td>
          <td class="datos">{{boleta.fechapago|date:"d/m/Y"}}</td>          
          <td class="datos">${{subtotal}}</td>
          <td class="datos">{{vencimiento|date:"d/m/Y"}}</td>          
          <td class="datos_i">${{punit1}}</td>
        </tr>
      </table>
      </td>
  </tr>
  <tr height="49" >
  <td height="49" colspan="3" >
   <table width="100%">
    <tr>
      <td height="49" width="80%">
      <table width="100%" border="0" cellspacing="0">
        <tr>          
          <td width="55%" class="titulos">Detalle Actividad</td>
          <td width="15%" class="titulos">Base</td>
          <td width="15%" class="titulos">Alícuota <small>{{sitio.alicuota_unidad}}</small></td>
          <td width="15%" class="titulos">Importe</td>
        </tr>
        {% for item in actividades %}
        <tr class="datos_actividad" >
          <td><strong><small>{{item.verDetalleActiv}}</small></strong></td>
          <td>${{item.base}}</td>
          <td>{{item.alicuota|floatformat:2}}</td>
          <td>${{item.impuesto}}</td>
        </tr>
        {% endfor %}
      </table>
      </td>
      
      <td  width="20%" >
        <table width="100%" border="0" cellspacing="0" >
          <tr>
          </tr>
          
          <tr>
            <td class="tabla_izq" colspan="2">Derecho Neto</td>
            <td class="tabla_der importe_">${{boleta.derecho_neto}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2">Tasa Salud Pública</td>
            <td class="tabla_der importe_">${{boleta.tasa_salud_publ}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2">{{boleta.adic_detalle}}</td>
            <td class="tabla_der importe_">${{boleta.adic_monto}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2">Retenciones</td>
            <td class="tabla_der importe_">${{boleta.retenciones}}</td>
          </tr>
          <tr>
            <td class="tabla_izq" colspan="2" >Recargo</td>
            <td class="tabla_der importe_">${{boleta.recargo}}</td>
          </tr>
          <tr>
            <td class="tabla_izq titulos" colspan="2">Tot.Adic.+ Recargo </td>
            <td class="tabla_der importe_subt titulos">${{tot_adicionales}}</td>
          </tr>
        </table>
      </td>
    </tr>
   </table> 
   </td>
  </tr>           
   
</table>
</body>
</html>
