.cabecera_texto {
	color: #808080;
	font-family: Verdana, Tahoma;
	font-size: 8pt;
}

.cabecera_etiqueta {
	color: #202020;
	font-family: Verdana, Tahoma;
	font-size: 6px;
}
.cabecera_grilla {
	background-color: SteelBlue;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.pie_link {
	font-family: sans-serif;
	font-size: 9pt;
	text-decoration: blink;
}

.cabecera_titulo {
	color: steelblue;
	font-family: Verdana, Tahoma, "Franklin Gothic Medium", sans-serif;
	font-size: 12pt;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}